.tblCalendar, th, td, tr {
    border: solid black 1px;
}

.tblCalendar {
    width: 100%;
}

th {
    width: 14.28%;
}
tr {

    display: table-row;
    border-color: inherit;
}

td {
    height:15em;
}

header {
    text-align: center;
}

header, footer {
    background-color: #000066;
}

footer {
    color: white;
    text-align: center;
    font-weight: bold;
    min-height: 100px;
    vertical-align: middle;
    line-height: 75px;
}